import os
import instaloader
import re

# Função para validar o link do Instagram
def validar_link_instagram(link):
    return bool(re.match(r"^(https://www\.instagram\.com/p/[\w-]+)/?$", link))

# Função para baixar o vídeo
def download_instagram_video(url, pasta_destino):
    loader = instaloader.Instaloader()

    # Verificar e criar a pasta de destino se não existir
    if not os.path.exists(pasta_destino):
        os.makedirs(pasta_destino)

    try:
        # Extrair o identificador único do post
        post_shortcode = url.split("/")[-2]
        post = instaloader.Post.from_shortcode(loader.context, post_shortcode)

        if post.is_video:
            print(f"Baixando vídeo de {url} para {pasta_destino}...")
            os.chdir(pasta_destino)  # Mudar para a pasta de destino
            loader.download_post(post, target=".")  # Salvar na pasta atual
            print("Download concluído!")
        else:
            print("O link fornecido não é de um vídeo.")
    except Exception as e:
        print(f"Erro ao baixar o vídeo: {e}")

if __name__ == "__main__":
    print("Bem-vindo ao Instagram Video Downloader!")

    # Solicitar o link do vídeo
    link = input("Insira o link do vídeo do Instagram: ")

    # Validar o link do Instagram
    if not validar_link_instagram(link):
        print("O link fornecido não é válido. Por favor, insira um link válido do Instagram.")
    else:
        # Defina o caminho da pasta de destino (geral para sistemas Windows e Unix)
        pasta_destino = os.path.expanduser("~/Videos/Instagram")

        # Chamar a função para download do vídeo
        download_instagram_video(link, pasta_destino)
